/bootstrap/compiled.php
.env.*.php
.env.php
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/irenius.github.io.iml
.idea/encodings.xml
.idea/.name
